<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visitors Inside</title>
</head>
<body>
    <h1>RAMI</h1>
    <a href="/refresh">Refresh</a>
    <form action="/search" method="post">
        <input type="text" name="search_id" placeholder="Search by ID">
        <button type="submit">Search</button>
    </form>
    <h2>אורחים בפנים</h2>
    <ul>
        {% for sheet, visitors in visitors.items() %}
            <li><strong>{{ sheet }}</strong></li>
            <ul>
                {% for visitor in visitors %}
                    <li>
                        {{ visitor['מספר תעודה'] }} - {{ visitor['שם מלא'] }}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</body>
</html>